{% extends 'base.html.twig' %}

{% block title %}Character{% endblock %}

{% block body %}
    <h1>Character</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ character.id }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ character.role }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ character.photo }}</td>
            </tr>
            <tr>
                <th>Story</th>
                <td>{{ character.story }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_back_character_index') }}">back to list</a>

    <a href="{{ path('app_back_character_edit', {'id': character.id}) }}">edit</a>

    {{ include('back/character/_delete_form.html.twig') }}
{% endblock %}
